<!DOCTYPE html>

<% include header  %>
    <img class="ui medium centered image" src="assets/images/smileyBad.png">
    <div class="ui text container">
        <h1 class="">Page test <%=locals.error.status%></h1>
        <h2><%=message%></h2>
        <p>La page que vouz avez demandée n'existe pas <a href="/">Retour à l'Accueil</a></p>
    </div>
    <!-- <pre><%=locals.error.stack%></pre> -->
<% include footer.ejs  %>