<% include header  %>

<p>Page user <%=user%></p>
<div class="ui middle aligned center aligned grid">
<form action="/ticket" method="POST" class="ui large form">
    <div class="ui stacked segment">
        <div class="ui field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input name="id" id="id" placeholder="nom.prenom@gmail.com" type="email" required/>
            </div>
        </div>
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input name="password" id="password" placeholder="MotDePasse@85!" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required/>
            </div>
        </div>
        <button class="ui primary submit button" type="submit">Connexion</button>
    </div>
</form>
</div>

<% include footer.ejs  %>


